body {
    background-size: cover;
    color: white;
    text-align: center;
    font-family: Calibri;
}

/* site-wrapper and site-wrapper-inner are to vertically center content using
   table/table-cell vertical centering. */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    ;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card {
    vertical-align: middle;
    text-align: center;
    background-color: #3a3a3ad7;
    padding: 50px;
    width: 25%;
    margin: 0 auto;
    outline: 10px, white;
    border-radius: 5% !important;
}

.btn{
    background-color: #a3acb76c;
    border: white, 10px
}

#link{
    color:white
}

.boxed{
    background-color: #969796cc;
    padding: 3px;
    text-align: left;
    padding-right: 10px;
    float: left;
}