

body {
    background-size: cover;
    color: white;
    text-align: center;
    font-family: Calibri
}

/* site-wrapper and site-wrapper-inner are to vertically center content using
   table/table-cell vertical centering. */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    ;
}

/* The footer always appears at the bottom of the browser window. */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;  /* required because fixed position */
}

.card {
    vertical-align: middle;
    background-color: rgba(150, 151, 150, 0.8);
    padding: 50px;
    width: 25%;
    margin: 0 auto;
    outline: 10px, white;
    border-radius: 5% !important;
    

}

.btn{
    background-color: #A3ACB7;
    border: white, 10px
}

#link{
    color:white
}

.boxed{
    background-color: rgba(150, 151, 150, 0.8);
    padding: 3px;
    text-align: left;
    padding-right: 10px;
    float: left;
}