
input[type="text"],
input[type="password"]{
  width: 200px;
  height: 35px;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}

input[type="submit"]{
  height: 35px;
  background: rgb(49, 103, 165);
  color: white;
  outline: none;
  border: 0px;
  border-radius: 3px;

}

input[type="submit"]:hover{
  background:rgb(15, 46, 114);
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.show {
  display: block;
}