

.login-form{
  position: absolute;
  width: 300 px;
  height: auto;
  background: #fff;
  right: 60px;
  top: 65px;
  border-radius: 3px;
  border-bottom: 5px solid gray;
  display: none;

}

.login-form>form{
  width: 250px;
  margin: 0 auto;
  font-size: 16 px;

}

input[type="text"],
input[type="password"]{
  width: 200px;
  height: 35px;
  border: 0px;
  background: rgb(241, 241, 241);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}

input[type="submit"]{
  height: 35px;
  background: rgb(49, 103, 165);
  color: white;
  outline: none;
  border: 0px;
  border-radius: 3px;

}

input[type="submit"]:hover{
  background:rgb(15, 46, 114);
}