/* General styling */


body { 
    padding-top: 100px; 
    padding-bottom: 20px; 
    padding-right: 65px; 
    padding-left: 65px;
    font-family: Geneva;
    background-color: #c3c7c68c;
}

.jumbotron {
    background: white;
    border-radius: 5px;
}

.alert {
    background-color: #b7560150;
    color: #B75501;
    margin-bottom: 25px;
}

a {
    color: #415243;
}

a:hover{
    color: #36421f;
}

.abox {
    background-color: #c3c7c6;
    width: 90%;
    padding-left: 85px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px; 
    left: -75px;
    position: relative;
    border-radius: 5px;
}

#credit {
    text-align: center;
}


.image-tag {
    left: -100px;
    margin-left: -20px;
}

.fav-parks { 
    padding-top: 50px;
    padding-bottom: 30px; 
} 



/* Image related styling */

.thumbnail {
    object-fit: cover;
    object-position: 100% 0;
    width: 250px;
    height: 250px
}

.image-text {
    background-color: none !important;
    width: 250px;
    align-items: left;
    text-align: center;
}



/* Topic table related styling */

td {
    width: 600px;
}

.col {
    padding-bottom: 10px;
}


.topic-search {
    margin-left: 20px;
}

.tbox {
    background-color: #b7560150;
    padding-left: 40px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 30px; 
    right: -150px;
    position: relative;
}


/* Navbar styling */

.nav-link {
    color: white;
}

.navbar {
    background-color: #5d745f !important;
}

.nav {
    padding-right: 80px;
}



/* Button styling */

.btn-primary {
    color: white;
    background-color: #415243;
    border-color: #415243;
}

.btn-primary:hover {
    color: #415243;
    background-color: white;
    border-color: #415243;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .05rem white !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #415243;
    background-color: white;
    border-color: #415243
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #415243;
    background-color: white;
    border-color: #415243
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .05rem white !important;
}

.btn-outline-primary {
    color: white;
    background-color: transparent;
    background-image: none;
    border-color: white;
}

.btn-outline-primary:hover {
    color: white;
    background-color: #415243;
    border-color: white
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .05rem white !important;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #415243;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #415243;
    border-color: #415243
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .05rem white !important;
}
