<!doctype html>
<html lang="en">
  <head>
      <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
      ></script>
      
  <link rel="stylesheet" href="/static/css/styles.css"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>
      {% block title %}{% endblock %}
  </title>

  {% block head %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
  
          <div class="navbar-header">

          </div>
  
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <a href="/all_users/<user_id>">Profile</a>
                  <a href="/login">Log In</a>
              </ul>
          </div>
  
      </div>
    </div>



    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
    
    {% block body %}{% endblock %}
    
    <script src="/static/javaScriptStuff.js"></script>

    {% block after_body %}{% endblock %}
  </body>


</html>
