{% extends 'base.html' %}
{% block title %}Park Finder Home{% endblock %}

{% block body %}
<div class="container text-center">
<!-- <h1>Park Finder</h1> -->
    <br>
    <h2>Save your favorite parks by creating an account or logging in!</h2>
    <p style="padding-bottom: 50px"></p>
</div>

    <div class="jumbotron">
        <div class="row justify-content-around">
            <div class="card col-4" style="padding-top: 50px">
                <h3>Create an Account</h3>
                <form action="/users" method="POST" class="p-4">
                    <div class="form-group">
                        <div style="text-align: center;">
                            <div style="display: float; text-align: left;">
                                <p style="padding-bottom: 1px">Email: <input type="text" name="email" class="form-control" placeholder="name@example.com"></p>
                                <p style="padding-bottom: 1px">Password: <input type="password" name="password" class="form-control" placeholder="password"></p>
                                <p style="padding-bottom: 1px">Username: <input type="text" name="uname" class="form-control" placeholder="name"></p><br>
                                <div class="card-footer bg-transparent text-center">
                                    <br><input type="submit" class="btn btn-secondary">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card col-4" style="padding-top: 50px">
                <h3>Log In</h3>
                <form action="/login" method="POST" class="p-4">
                    <br>
                    <div class="form-group">
                        <div style="text-align: center;">
                            <div style="display: float; text-align: left;">
                                <p style="padding-bottom: 1px">Email: <input type="text" name="email" class="form-control" placeholder="name@example.com"></p>
                                <p style="padding-bottom: 1px">Password: <input type="password" name="password" class="form-control" placeholder="password"></p><br><br><br><br>
                                <div class="card-footer bg-transparent text-center">
                                    <br><input type="submit" class="btn btn-secondary">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}