{% extends 'base.html' %}
{% block title %}Park Finder Home{% endblock %}

{% block body %}
<h1>Park Finder</h1>

    <h2>Discover your next adventure!</h2>


    <h3>Create an Account</h3>
    <form action="/users" method="POST">
        <p>
            Email <input type="text" name="email"><br><br>
            Password <input type="password" name="password"><br><br>
            Name <input type="text" name="uname"> <br><br>
            <input type="submit">
        </p>
    </form>

    <h3>Log In</h3>
    <form action="/login" method="POST">
        <p>
            Email <input type="text" name="email"><br><br>
            Password <input type="password" name="password"><br><br>
            <input type="submit">
        </p>
    </form>

{% endblock %}