<html>

<head>
    <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/landing.css">
    <title>National Park Finder</title>
    <style >body{background-image: url("{{image.image_url}}")} </style>
</head>

<body>

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="card border-dark">
                <div class="card-body">
                    <h1 class="card-title">Park Finder</h1>
                    <h4 class="card-text">Discover your next adventure</h4>
                    <br>
                    <a id="link" href="/park_search" class="btn btn-lg">begin</a>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
