{% extends 'base.html' %}

{% block title %}{{ park.Park.fullname }}{% endblock %}

{% block head %}
<head>
<script src="/static/js/image-gallery.js" type="text/javascript"></script>
</head>
{% endblock %}

{% block body %}
<body>

    <div class="abox">
        <h1>{{ park.Park.fullname }}</h1>
        <p>Location: {{ park.Park.state }}</p>

        <p>Features: 
            {% for topic in topics %}
                {{ topic.Topic.topic_name }}{{ ", " if not loop.last }}
            {% endfor%}
        </p>

        <p>{{ park.Park.description }}</p>

        <p>For more details about {{ park.Park.fullname }}, visit their <a style="color: #C66C36" target="_blank" href="{{ park.Park.park_url }}">official website!</a></p>
    </div>
    <section id="fav-save">
        <br><br>
        <form action="/parks/{{park.Park.park_id}}/fav-save" class="text-center">
            <button type="submit" class="btn btn-primary">Add to favorites <i class="fas fa-leaf"></i></button>
        </form>
        <br><br>
    </section>

    <section class="below" id="image-gallery">
        <!-- <div class="jumbotron" style="text-center"> -->
            <div class="row row-cols-1 row-cols-md-4 justify-content-md-center">

                {% for image in images %}
                <div class="col-sm mx-auto; image-text;">   
                    <a href="{{image.image_url}}" class="pop"><img class="thumbnail" src="{{image.image_url}}"></a>
                    <br><br><br>
                </div>

                <!-- code for defunct modal -->
                {#<a href="#" class="pop">
                    <img class="thumbnail" id="imageresource" src="{{image.image_url}}">
                    Click to Enlarge
                </a>#}

                {% endfor %} 
                {# 
                <!-- code for defunct modal -->
                <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">              
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;" >
                            </div>
                        </div>
                    </div>
                </div>#}
            
            </div>
        </div>
    </section>



</body>



{% endblock %}
