{% extends 'base.html' %}

{% block title %}{{ park.Park.fullname }} - Details{% endblock %}

{% block body %}
<h1>{{ park.Park.fullname }}</h1>



<p>
    {{ park.Park.description }}
</p>


<p>For more details about {{ park.Park.fullname }}, visit it's <a href="{{ park.Park.park_url }}">official website!</a></p>

<p>
    <img src="{{park.Image.image_url}}" width="50%" height="50%">
</p>

<section id="fav-save">

        
    <form action="/parks/{{park.Image.park_id}}/fav-save">
        <button type="submit">Add to favorites</button>
    </form>        

</section>
<!-- need to figure out how to produce and image for this one -->

{% endblock %}