{% extends 'base.html' %}

{% block title %}{{ park.fullname }} - Details{% endblock %}

{% block body %}
<h1>{{ park.fullname }}</h1>



<p>
    {{ park.description }}
</p>


<p>For more details about {{ park.fullname }}, visit it's <a href="{{ park.url }}">official website!</a></p>


<section id="fav-save">
{% if 'user' in session %}

    <form action="/parks/{{park.park_id}}/fav/save" id="fav-park">
        <button type="submit">Add to favorites</button>
    </form>        
{% endif %}

<!-- need to figure out how to produce and image for this one -->

{% endblock %}