{% extends 'base.html' %}

{% block head %} 
<script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"
></script>
{% endblock %}

{% block title %}Park Search{% endblock %}

{% block body %}

    <body
        <h1>Park Search</h1>

        <div class="headings"> 
        
        <form action="/search_results" method="POST"> 
            <!-- action="/search_results" method="POST" -->
            </div> 

            <section id="topic-select">
                <p>Which topics would you like to search for? (Select up to 3 topics)</p>
                
                <!-- TODO: If the topic has a space in it, is that a problem? -->
                {% for topic in TOPICS %}
                <div class="topic-check">
                    <input class="topicCheckbox" type="checkbox" id="{{ topic }}" name="topic" value= "{{ topic }}" onclick="return limitChecks()">
                    <label for="{{topic}}">{{topic}}</label><br>


                    <script type="text/javascript">
                    function limitChecks() {
                        let chkboxes = document.getElementsByName("topic");
                        let numChkBoxes = 0;

                        for(let count=0; count<chkboxes.length; count++){
                            if(chkboxes[count].checked){
                                numChkBoxes = numChkBoxes +1;
                            }
                        }
                        if(numChkBoxes>3){
                            // alert("Only three selections allowed.");
                            return false;
                        }
                    }
                    </script>

                </div>
                {% endfor %}
                <br>
            </section>

            <section id="state-select">
                <label for="state-select">Choose a state/location:</label>

                <select name="state" id="state-select">
                    <option value="no selection">--</option>

                    {% for state in STATES %}
                    <div class="state-div">
                        <option value="{{ state }}" name="state">{{ state }}</option>
                    </div>
                    {% endfor %}
                    
                </select>
                <br>
                <br>
            </section>

            <div>
                <button id="submit" type="submit">Search</button>
            </div>

        </form>

    </body>


    {% endblock %}
