{% extends 'base.html' %}

{% block title %}{{ user.email }} - Profile{% endblock %}

{% block body %}
<body>
    <div class="container center">
        <div class="fav-parks text-center">
            <h1>{{ user.uname }}'s Parks</h1>
            <p>Explore your favorites!</p><br>
        </div>

        {% if parks %}
            <div class="jumbotron">
                <div class="row row-cols-1 row-cols-md-4">
                    {% for key, value in parks.items() %}
                    <div class="col-sm mx-auto; image-text; text-center">
                        <img class="thumbnail" src="{{value['image']}}"><br><br>
                        <a href="/parks/{{ key }}"><h6>{{value["fullname"]}}</h6></a><br>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        {% else %} 
            <p class="text-center">You have not saved any parks.</p>
            <p class="text-center">start exploring</p>        
        {% endif %}
        
    </div>

</body>
{% endblock %}